body
{
    margin: 0;
    background:
    radial-gradient(circle at center, #f7ecd2 60%, #d8bf85 100%);
    color: #3b2b1a;
}
header
{
    perspective: 1500px;
}
#site-name
{
    width: 280px;
    height: 55px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;

    background:
    radial-gradient(circle at top,
    #7a1616,
    transparent 60%),
    linear-gradient(
    to bottom,
    #4a0d0d,
    #2b0000);
}
#gold-text
{
    font-size: 45px;
    font-style: italic;
    font-family: 'Baskerville';
    font-weight: bolder;

    background: linear-gradient(
        120deg,
        #3f2a0a,
        #b8962e,
        #f5e27a,
        #fff6c2,
        #d4af37,
        #8a6e2f,
        #3f2a0a
    );

    background-size:150% auto;
    background-clip:text;
    color:transparent;
}
.logo-container
{
    width:60%;
    height:500px;
    margin:auto;
    perspective:1000px; /*perspective gives the 3D depth.*/
}
.logo-card
{
    width:100%;
    height:100%;
    position:relative;

    transform-style:preserve-3d;
    transition:transform 3s;
}
.logo-container:hover .logo-card
{
    transform:rotateY(180deg);
}
.front
{
    position:absolute;
    width:100%;
    height:100%;

    background-image:url("../img/golden castle.png");
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:30px;

    display:flex;
    justify-content:center;
    gap:130px;

    backface-visibility:hidden;

    font-family: 'Brush Script MT';
    font-size:28px;
    color:white;
    text-shadow: 2px 2px 5px black;
}
.back
{
    position:absolute;
    width:100%;
    height:100%;

    background-image:url("../img/golden castle back.png");
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:30px;

    display:flex;
    justify-content:center;

    transform:rotateY(180deg);
    backface-visibility:hidden;

    font-family: 'Brush Script MT';
    font-size:38px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 7px rgb(11, 1, 77);
}
/*for about page*/
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.about 
{
    margin-top: 20px;
    height: 500px;
    width: 800px;
    position: relative;
    background-image: url("../img/open book.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about p
{
    font-family: 'Berkshire Swash';
    position: absolute;
    top: 40px;
    left: 120px;
    width: 560px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}
.about p::selection
{
    background-color: white;
    color: #d4af37;
}
/*for signup and login desk*/
.signup
{
    width: 850px;
    height: 200px;
    --angle: 45deg; 
    background: linear-gradient(var(--angle), #C69C6D, #754224);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 4px black;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signup table
{
    margin: 20px auto 20px auto;
    border-radius: 10px;
    color: white;
    padding: 5px;
    align-content: center;
}
.signup table td
{
    font-size: large;
    font-weight: bold;
    padding: 5px 5px;
}
.signup table td a
{
    color: #ffffff;
}
/*for tracker*/
.tracker
{
    height: 520px;
    width: 850px;
    position: relative;
    text-align: center;
    border: 2px solid maroon;
    border-radius: 20px;
    background-color: rgba(255,248,220,0.5);
}
.tracker span
{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tracker img
{
    display: block;
    border-radius: 20px;
    margin: 40px auto 0 auto;
    transition: 0.4s ease;
}
.tracker img:hover
{
    box-shadow: 0px 0px 10px 2px goldenrod;
    transform: scale(1.05);
    transition: 0.4s ease;
}
.tracker a
{
    font-size: 20px;
    font-weight: bold;
    color: #3b2b1a;
    text-decoration: none;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tracker a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #8a6e2f;
    transition: 0.3s ease;
}
.tracker a:hover::after
{
    width: 100%;
}
/*for daily tracker/marker*/
h4
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255,248,220,0.5);
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.daily-tracker
{
    background-color: rgba(255,248,220,0.5);
    margin-top: -40px;
    margin-bottom: 20px;
    width: 800px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid maroon;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.daily-tracker div
{
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}
.daily-tracker input
{
    height: 25px;
    width: 25px;
    box-shadow: 2px 2px 2px 2px goldenrod;
    cursor: pointer;
}
.box
{
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px goldenrod;
    transition: all 0.2s;
}
.box::after
{
    content: "\2B50";
    font-size: large;
    position: absolute;
    left: 10%;
    transform: translateX(10%,-20%);
    top: 8%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.box:hover::after
{
    opacity: 1;
}
.quotes
{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    position: relative;
    animation: float 4s ease-in-out infinite;
}
@keyframes float
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-15px);
    }

    100%
    {
        transform: translateY(0px);
    }
}

.quotes img
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.quotes span
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}