body
{
    margin: 0;
    background:
    radial-gradient(circle at center, #f7ecd2 60%, #d8bf85 100%);
    color: #2F2117;
    font-family: 'Source Serif 4', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
            #site-name
            {
                width: 280px;
                height: 55px;
                margin: auto;
                margin-bottom: 20px;
                border-radius: 10px;
                text-align: center;
                line-height: 55px;

                background:
                radial-gradient(circle at top,
                #7a1616,
                transparent 60%),
                linear-gradient(
                to bottom,
                #4a0d0d,
                #2b0000);
                margin: 10px auto 10px auto;
}
            #gold-text a
            {
                font-size: 40px;
                font-style: italic;
                font-family: 'Libre Baskerville';
                font-weight: 700;

                background: linear-gradient(
                 120deg,
                 #3f2a0a,
                 #b8962e,
                 #f5e27a,
                #fff6c2,
                #d4af37,
                #8a6e2f,
                #3f2a0a
                    );

                background-size:150% auto;
                background-clip:text;
                color:transparent;
            }
            .container
            {
                height: auto;
                display: flex;
                margin-bottom: 10px;
                margin-right: 5px;
            }
            #phone img
            {
                display: none;
            }
            .details
            {
                border: 2px solid #C9A227;
                border-radius: 10px;
                margin-left: 10px;
                font-family: "Source Serif 4", serif;
            }
            .details h1
            {
                text-align: center;
                font-family: 'Lora', serif;
                font-style: italic;
                font-size: 35px;
                color:#800020;
                text-transform: capitalize;
                font-weight: 600;
            }
            .details p
            {
                font-size: 16px;
                line-height: 1.6;
                margin-left: 20px;
            }
            table 
            {
                font-family: 'Lato', serif;
            }
            table label
            {
                font-weight: medium;
                font-size: 14px;
            }
            input 
            {
                color: #3b2b1a;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                font-weight: 400;
                opacity: 0.7;
                background-color: #D8BF85;
            }
            input:focus 
            {
                border: 2px solid #4a0d0d;
                background-color: #FFFFCC;
                outline: none;
            }
            table td
            {
                text-align: center;
                font-size: 14px;
                margin-left: 20px;
                padding: 10px;
            }
            textarea
            {
                text-align: left;
                padding: 10px;
                color: #3b2b1a;
                font-family: 'Lato', sans-serif;
                font-size: 12px;
                font-weight: 400;
                opacity: 0.7;
                background-color: #D8BF85;
            }
            textarea:focus
            {
                border: 2px solid #4a0d0d;
                background-color: #FFFFCC;
                outline: none;
            }
            button
            {
                padding: 10px 20px;
                font-family: 'Lato', sans-serif;
                font-weight: 600;
                letter-spacing: 0.5px;
                background-color: #6b1b1b;
                color: white;
                border-radius: 10px;
                box-shadow: 0 0 5px 2px #D4AF37;
                font-size: 16px;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            button:hover
            {
                font-size: 18px;
                box-shadow: 0 0 10px 3px #D4AF37;
                background-color: #4a0d0d; 
                transform: translateY(2px);
            }
            #contact
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1px;
                margin: 0;
                padding: 0;
            }
            #contact h2
            {
                font-family: 'Lora', serif;
                font-style: italic;
                font-size: 32px;
                font-weight: 600;
                color:#800020;
                letter-spacing: 0.5px;
                margin-left: 25px;
            }
            #contact p
            {
                font-family: "Source Serif 4", serif;
                font-size: 16px;
                line-height: 1.6;
                transform: translateY(-25px);
            }


/*media query for mobile responsiveness*/
@media (max-width: 600px)
{
    body
    {
        padding: 10px;
    }
    .container
    {
        flex-direction: column;
        align-items: center;
    }
    #contact-room
    {
        display: none;
    }
    #phone
    {
        display: block;
        text-align: center;
        margin: 20px auto 0 auto;
    }
    #phone img
    {
        display: block;
        width: 180px;
        height: 180px;
        border-radius: 10px;
    }
    .details
    {
        width: 95%;
        padding: 15px;
        border: none;
    }
    .details h1
    {
        font-size: 25px;
    }
    table
    {
        width: 100%;
    }
    table tr
    {
        display: block;
        margin-bottom: 15px;
    }
    table td
    {
        display: block;
        width: 100%;
        text-align: left;
    }
    textarea
    {
        width: 80%;
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
    }
    textarea
    {
        resize: vertical;
    }
    button
    {
        width: 15%;
        padding: 12px;
    }
    #contact
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    #contact h2
    {
        font-size: 22px;
        margin-bottom: 10px;
    }
    #mail
    {
        width: 100px;
        height: auto;
        margin-top: -50px;
    }
}