body
{
    margin: 0;
    background:
    radial-gradient(circle at center, #f7ecd2 60%, #d8bf85 100%);
    color: #2F2117;
    font-family: 'Source Serif 4', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
#site-name
{
    width: 280px;
    height: 55px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;

    background:
    radial-gradient(circle at top,
    #7a1616,
    transparent 60%),
    linear-gradient(
    to bottom,
    #4a0d0d,
    #2b0000);
    margin: 10px auto 10px auto;
}
#gold-text a
{
    font-size: 40px;
    font-style: italic;
    font-family: 'Libre Baskerville';
    font-weight: bolder;
    line-height: 55px;

    background: linear-gradient(
        120deg,
        #3f2a0a,
        #b8962e,
        #f5e27a,
        #fff6c2,
        #d4af37,
        #8a6e2f,
        #3f2a0a
    );

    background-size:150% auto;
    background-clip:text;
    color:transparent;

}
/*categories*/
.container
{
    width: 100%;
    height: 1650px;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: center;
}
.categories
{
    width: 1000px;
    height: 100%;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: repeat(3,500px);
    justify-content: center;
    gap: 30px;

    background-color: #D8BF85;
    border: 2px solid #950101;
    cursor: pointer;
    border-radius: 5px;
}
.books, .comics, .audiobooks, .webcomics, .webnovels, .podcasts
{
   margin: 20px;
   display: grid;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.books video,.comics img , .audiobooks video, .podcasts video
{
    width: 320px;
    height: 360px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.audiobooks video, .webcomics img, .webnovels img
{
    width: 320px;
    height: 360px;
    object-fit: contain;
    display: block;
    border-radius: 5px;
    border-radius: 10px;
}
.books:hover,.comics:hover,.audiobooks:hover,.webcomics:hover,.webnovels:hover,.podcasts:hover
{
    box-shadow:0px 0px 5px 2px #A00028;
    transform: scale(1.02);
}
.desc
{
    width: 300px;
    height: 10px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-family: "Source Serif 4", serif;
    font-size: 20px;
    font-weight: 500;
    color: #2F2117;
}
.desc a
{
    font-family: "Source Serif 4", serif;
    font-size: 20px;
    font-weight: 700;
    color: #2F2117;
}
/*container for the rest*/
.others
{
    margin: 20px auto 20px auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.others h2
{
    width: 700px;
    margin: 20px auto;

    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: 600;
}
.reading h3, .listening h3
{
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.reading-status
{
    width: 700px;
    height: 350px;
    margin: 20px auto;

    font-size: 15px;
    font-family: "Lora", serif;

    background-color: #D8BF85;
    border: 2px solid maroon;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reading 
{
    width: 50%;
    height: 60%;
    padding: 10px;

    background-image: url("../img/currently reading.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.listening
{
    width: 55%;
    height: 60%;
    padding: 5px;
    color: white;
    font-size: 15px;

    background-image: url("../img/currently listening to.png");
    background-repeat: no-repeat;
    background-size: 85% 100%;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.reading input
{
    border: none;
    background: transparent;
    border-bottom: 2px solid #5A4632;   
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    outline: none;
    padding: 5px;
    width: 60%;
}
.listening input
{
    border: none;
    background: none;
    border-bottom: 2px solid #5A4632;   
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    outline: none;
    padding: 5px;
    width: 50%;
}
.reading input:focus, .listening input:focus
{
    border: 2px solid #2F2117;
    background-color: #FFFFCC;
    outline: none;
}
.reading input::placeholder
{
    color: #2F2117;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}
.listening input::placeholder
{
    color: #2F2117;
    background-color: #FFFFCC;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}
.add
{
    padding: 5px 10px;   
    margin: 5px auto;

    font-size: 14px;     
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;

    background-color: #5C0017;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #D4AF37;
    border: none;

    cursor: pointer;
    transition: all 0.3s ease; 
}
.add:hover
{
    font-size: 18px;
    box-shadow: 0 0 10px 3px #D4AF37;
    background-color: #4a0d0d; 
    transform: translateY(2.5px);
}
h2
{
    width: 200px;
    height: 30px;

    font-size: 32px;
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin: 5px auto;

    transform: translateY(80%);
    color: #800020;
    border-bottom: none;
    border-radius: 5px;
}
/*for daily tracker/marker*/
.daily-tracker
{
    background-color: #D8BF85;
    margin: 20px auto;
    width: 800px;
    height: 200px;

    display: grid;
    grid-template-columns: 100px repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);

    border: 2px solid #950101;
    border-radius: 20px;

    text-align: center;
    justify-items: center;
    align-items: center;
}
.daily-tracker div
{
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
    font-family: "Lora", serif;
    color: #2F2117;
}
.daily-tracker input
{
    height: 25px;
    width: 25px;
    box-shadow: 2px 2px 2px 2px #D4AF37;
    cursor: pointer;
}
.box,#box
{
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px #D4AF37;
    background-color: #ffffff;
    transition: all 0.2s;
    cursor: pointer;
}
.quotes
{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    position: relative;
    animation: float 4s ease-in-out infinite;
}
@keyframes float
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-15px);
    }

    100%
    {
        transform: translateY(0px);
    }
}
.quotes img
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
}
.quotes span
{
    font-family: "Source Serif 4", serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
footer
{
    width: 100%;
    height: 80px;
    background-color: #ffd9aa;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 800px;
}
footer p
{
    margin: 0;
    line-height: 80px;
}
footer p a
{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s ease;
}
footer p a:hover
{
    color: black;
    font-size: 25px;
    text-shadow: 2px 2px 3px rgb(186,171,171);
}