body
{
    margin: 0;
    padding: 0;
    background:
    radial-gradient(circle at center, #f7ecd2 60%, #d8bf85 100%);
    color: #2F2117;
    font-family: 'Source Serif 4', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
nav
{
    position: relative;
    font-family: 'Lato';
    z-index: 1000;
}
nav a
{
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 2px 2px #daa520;
    border-radius: 10px;
    color: #3b2b1a;
}
i
{
    padding: 3px;
}
nav ul
{
    padding: 10px;
    margin: 0;
    position: relative;
    top:2%;
    width: 100%;
    height: auto;
    font-size: large;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
nav ul li
{
    border: 2px solid #950101;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    list-style: none;
    background-color: #d8bf85;
}
nav ul li a
{
    display: block;
    padding: 5px 10px;
}
nav ul li a:link
{
    color: rgb(26,26,102);
}
nav ul li a:visited
{
    color: rgb(95, 21, 21);
}
nav ul li a:active
{
    color: black;
}
nav > ul > li:hover
{
    transform: scale(1.1);
    background-color: aliceblue;
}
#gen
{
    width: 310px;
    padding: 0;
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;

    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(5, auto);
    gap: 15px;
    z-index: 9999;
}
#gen li a
{
    display:block;
    padding: 5px;
}
#gen li a:hover
{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow:0 0 4px gray;
}
.drop:hover > #gen
{
    visibility: visible;
}
.drops-sub
{
    background-color: transparent;
    padding: 3px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 17px;
    text-shadow: none;
    z-index: 1000;
}
#cat
{
    width: 130px;
}
#prof
{
    width: 140px;
}
.drops-sub li 
{
    border: 2px solid maroon;
    border-radius: 5px;
    margin: 3px 0;
    width:100%;
}
.drops-sub li a
{
    display:block;
    padding:5px 20px;
    white-space:nowrap;
    box-sizing:border-box;
    text-align: center;
}
.drops-sub a:hover
{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow:0 0 4px gray;
}
.drop:hover > .drops-sub
{
    visibility: visible;
    display: block;
    padding: 5px 7px;
}
nav .fa-bars
{
    display: none;
    cursor: pointer;
}

@media all and (max-width:600px)
{
    nav ul
    {
        display:none;
        flex-direction:column;
        align-items: flex-start;
        gap: 10px;
    }
    nav ul li
    {
        display:block;
        text-align:center;
    }
    nav ul li:hover > a
    {
        color: rgb(0, 0, 0);
    }
    nav .fa-bars
    {
        margin:0px;
        display: block;
        cursor:pointer;
        position:absolute;
        left:0px;
        top:0px;
    }
    nav .fa-bars:hover
    {
        text-shadow: 2px 2px 3px grey;
        transform: scale(1.2);
    }
    .drop
    {
        position: relative;
    }
    .drops-sub
    {
        position:absolute;
        left:100%;
        top:0;
    }
    #gen
    {
        position:absolute;
        left: 125px;
        top:0;
    }
    .drops-sub li 
    {
        border: 2px solid maroon;
        border-radius: 5px;
        border-collapse: separate;
    }
    .drops-sub li a
    {
        display:block;
        padding:5px;
    }
    .drop::after
    {
        content: "⮞";
        opacity: 0;
        transition: 0.5s ease;
    }
    .drop:hover::after
    {
        opacity: 1;
    }
    .drops-sub li a:hover
    {
        background-color: rgb(0, 0, 0);
        color: white;
        box-shadow:0 0 4px gray;
    }
    #prof
    {
        width:150px;
    }
    .viewmenu
    {
        display:flex;
    }
}